.ky-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 150px auto 0;
  padding: 0 150px 50px;
  background-image: linear-gradient(to bottom, #101010 0%, #1a1a1a 100%);
  z-index: 0;
}

.ky-footer .ky-bg-pattern {
  top: 0;
  left: 50%;
  height: 600px;
  transform: translate(-50%, -100%);
  overflow: hidden;
}

.ky-footer-wrapper {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  align-items: start;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 150px 0 0;
  border-top: 2px solid var(--ky-midnight-4);
}

.ky-footer-left {
  margin-right: auto;
}

.ky-footer-left .ky-paragraph {
  max-width: 500px;
  margin-top: 30px;
  font-weight: 600 !important;
}

.ky-footer-right {
  display: flex;
  grid-gap: 80px;
  margin-left: 20px;
}

.ky-footer-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ky-footer-item {
  position: relative;
  max-width: 200px;
  width: fit-content;
}

.ky-footer-item:first-of-type {
  margin-bottom: 25px;
  color: var(--ky-light);
  font-size: 16px;
  font-weight: 700;
}

.ky-footer-item:not(:last-of-type):not(:first-of-type) {
  margin-bottom: 5px;
}

.ky-footer-item:not(:first-of-type) a {
  color: var(--ky-light-3);
  font-size: 14px;
  font-weight: 600;
  transition: all 0.1s ease-out;
}

.ky-footer-item:not(:first-of-type):hover a {
  color: var(--ky-light);
}

.ky-footer-item .ky-external-link {
  position: absolute;
  top: 0;
  right: -16px;
  color: var(--ky-light-3);
}

.ky-footer-item a:hover + .ky-external-link {
  color: var(--ky-light);
}

.ky-footer-copy {
  margin: 150px auto 0;
  color: var(--ky-midnight);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
