.ky-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}

.ky-pagination button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  min-width: 35px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: var(--ky-midnight-4);
  color: var(--ky-light);
  font-size: 14px;
  font-weight: 500;
  transition: all 0.1s ease-out;
}

.ky-pagination .ky-pagination-current {
  background: var(--ky-red-gradient);
}

.ky-pagination button:not(.ky-pagination-current):not(:disabled):hover {
  background: var(--ky-midnight-3);
}

.ky-pagination button:disabled {
  cursor: default;
  background: #121212;
}

.ky-pagination-prev,
.ky-pagination-next {
  position: relative;
}

.ky-pagination-prev::after,
.ky-pagination-next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6px;
}

.ky-pagination-prev::after {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.72396 0.809925C7.10518 1.20954 7.09027 1.84253 6.69066 2.22375L2.0004 6.50018L6.69066 10.7766C7.09027 11.1578 7.10518 11.7908 6.72396 12.1904C6.34274 12.5901 5.70975 12.605 5.31014 12.2237L0.594113 7.92272L0.585787 7.9144C-0.195261 7.13335 -0.195264 5.86702 0.585786 5.08597L0.594112 5.07764L5.31014 0.776623C5.70975 0.395403 6.34274 0.410313 6.72396 0.809925Z' fill='%238F8F8F'/%3E%3C/svg%3E%0A");
}
.ky-pagination-next::after {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.276441 12.1904C-0.104779 11.7908 -0.0898699 11.1578 0.309742 10.7766L5 6.50019L0.309742 2.22375C-0.0898703 1.84253 -0.10478 1.20954 0.276441 0.809925C0.657661 0.410312 1.29065 0.395404 1.69026 0.776624L6.40629 5.07765L6.41462 5.08597C7.19566 5.86702 7.19567 7.13335 6.41462 7.9144L6.40629 7.92273L1.69026 12.2237C1.29065 12.605 0.657661 12.5901 0.276441 12.1904Z' fill='%238F8F8F'/%3E%3C/svg%3E%0A");
}
