.ky-page-office-detail {
  margin-top: 20px;
}

.ky-office-row {
  display: flex;
  flex-direction: column;
  background: var(--ky-midnight-3);
  padding: 10px 14px;
  border-radius: 5px;
  border: 2px solid var(--ky-midnight-3);
  transition: all 0.15s ease-out;
}

.ky-office-row:not(:first-of-type) {
  margin-top: 20px;
}

.ky-office-row i {
  color: var(--ky-light-3);
}

.ky-office-row-title {
  color: var(--ky-light-3);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.15s ease-out;
}

.ky-office-row-label {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.15s ease-out;
}

a.ky-office-row:hover .ky-office-row-label {
  color: var(--ky-light-red);
}

/* Swiper Start */
.ky-page-office-detail .mainImages {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.ky-page-office-detail .mainImages .swiper-slide {
  border-radius: 6px;
  overflow: hidden;
}
.ky-office-detail-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ky-page-office-detail .thumbnailSwiper {
  margin-top: 10px;
  border-radius: 6px;
  overflow: hidden;
}
.ky-page-office-detail .thumbnailSwiper .swiper-slide {
  cursor: pointer;
  aspect-ratio: 1 / 1;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}
/* Swiper End */

.ky-office-name {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
  color: var(--ky-light);
}

.ky-office-office-name {
  font-size: 16px;
  font-weight: 600;
  color: var(--ky-light-3);
  transition: all 0.1s ease-out;
}
.ky-office-office-name:hover {
  color: var(--ky-light-red);
}

.ky-office-about-title {
  color: var(--ky-light);
  font-size: 22px;
  font-weight: 600;
}

.ky-office-about-description {
  color: var(--ky-light-2);
  font-size: 16px;
  line-height: 1.3;
  margin-top: 20px;
}

.ky-office-tab-nav {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.ky-office-tab-nav ul {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ky-office-tab-nav ul li {
  position: relative;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.ky-office-tab-nav ul li span {
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 12px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: var(--ky-light);
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  transition: all 0.2s ease-out;
  outline: none;
  z-index: 1;
}

.ky-office-tab-nav ul li::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-image: var(--ky-red-gradient);
  transition: opacity 0.1s linear;
  transform: scaleX(-1);
  opacity: 0;
}

.ky-office-tab-nav ul li.active:hover span {
  border-color: var(--ky-light-red);
}

.ky-office-tab-nav ul li:hover {
  border-color: var(--ky-light-red);
}

.ky-office-tab-nav ul li:hover::before,
.ky-office-tab-nav ul li.active::before {
  opacity: 1;
}

.ky-office-tab {
  height: calc(100% - 64px);
  padding: 30px;
  border-radius: 0 0 10px 10px;
  border-top: 2px solid var(--ky-midnight-3);
}
