.confirmation-modal-users {
  margin-top: 40px;
}

.confirmation-modal-users .confirmation-modal-user:not(:first-of-type) {
  margin-top: 22px;
  padding-top: 22px;
  border-top: 1px solid var(--bs-border-color);
}

.modal-body p {
  text-align: left;
}
