.ky-agent-card-skeleton {
  aspect-ratio: 1 / 1.33;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 355px;
  width: 100%;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    #202020,
    #202020,
    #202020,
    #151515,
    #202020,
    #202020,
    #202020
  );
  background-size: 300% 100%;
  overflow: hidden;
  transition: all 0.1s ease-out;
  animation: skeleton-animation 10s infinite ease-in-out;
}

@keyframes skeleton-animation {
  0% {
    background-position: 500% 0;
  }
  100% {
    background-position: -500% 0;
  }
}
