:root {
  --ky-dark: #101010;
  --ky-light: #f5f5f5;
  --ky-light-2: #b0b0b0;
  --ky-light-3: #8f8f8f;
  --ky-midnight: #6c6c6c;
  --ky-midnight-2: #525252;
  --ky-midnight-3: #272727;
  --ky-midnight-4: #1a1a1a;
  --ky-light-red: #ff4969;
  --ky-red: #ea0029;
  --ky-dark-gradient: linear-gradient(90deg, #101010 0%, #040404 100%);
  --ky-midnight-gradient: linear-gradient(#1b1b1b 0%, #0e0e0e 100%);
  --ky-light-gradient: linear-gradient(90deg, #c4c4c4 0%, #f1f1f1 100%);
  --ky-red-gradient: linear-gradient(90deg, #ff4969 0%, #ea0029 100%);
  --ky-light-red-gradient: linear-gradient(90deg, #ff8585 0%, #ff002d 100%);
  --ky-success: #448643;
  --ky-error: #ab1f1f;
}

.ky-layout {
  background: var(--ky-dark);
  color: var(--ky-light);
  overflow-x: hidden;
}

.ky-dark-layout {
  background-color: var(--ky-dark);
  color: var(--ky-light);
}

.ky-light-layout {
  background-color: var(--ky-light);
}

.ky-layout * {
  font-family: var(--sf-pro-display);
  letter-spacing: 0.2px;
}

/* Page */
.ky-page-content {
  position: relative;
  padding: 0 100px;
  z-index: 1;
}

/* Form */
.ky-form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 360px;
  margin: 0 auto;
}

.ky-form-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.ky-form-section:not(:first-of-type) {
  margin-top: 40px;
}

.ky-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.ky-form-row .ky-checkbox,
.ky-form-row .ky-radio {
  width: fit-content;
}
.ky-form-row .ky-checkbox:not(:last-of-type),
.ky-form-row .ky-radio:not(:last-of-type) {
  margin-right: 15px;
}

.ky-form-label {
  padding-left: 10px;
  color: var(--ky-midnight);
  font-size: 14px;
  font-weight: 600;
}

.ky-form-group .ky-button {
  width: 100% !important;
  margin-top: 40px;
}

.ky-form-note {
  color: var(--ky-midnight);
  font-size: 12px;
  font-weight: 500;
}

/* Custom Quill */
.custom-quill {
  border-radius: 0.85rem;
  background-color: var(--bs-gray-100);
}

.custom-quill .ql-container {
  border: none !important;
}

.custom-quill .ql-toolbar {
  border: none !important;
  border-bottom: 2px solid var(--bs-gray-400) !important;
  border-radius: 0.85rem 0.85rem 0 0;
}

.custom-quill .ql-editor {
  border: none !important;
  border-radius: 0 0 0.85rem 0.85rem;
  background-color: var(--bs-gray-100);
}

/* Card */
.ky-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid var(--ky-midnight-3);
  border-radius: 20px;
  background-color: var(--ky-midnight-4);
}

.ky-card-header {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--ky-light);
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.ky-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.ky-card-content .ky-form-group {
  max-width: unset;
  margin-right: 0;
  margin-left: 0;
}

/* Accordion */
[data-accordion-toggle] {
  user-select: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 10px;
  transition: all 0.15s ease-out;
  border-radius: 6px;
  background-color: var(--bs-gray-100);
}
[data-accordion-toggle]::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: block;
  height: 22px;
  width: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='%23B5B7C8' d='m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z'/%3E%3C/svg%3E");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.15s ease-out;
}
[data-accordion-toggle].active::after {
  transform: translateY(-50%) rotate(180deg);
}

[data-accordion-toggle]:hover {
  background-color: var(--bs-gray-200);
}

[data-accordion-content] {
  transform: translateY(-20px);
  max-height: 0;
  opacity: 0;
  margin-top: 0;
  padding: 10px;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

[data-accordion-toggle].active + [data-accordion-content] {
  transform: unset;
  max-height: unset;
  margin-top: 10px;
  margin-bottom: 50px;
  opacity: 1;
  visibility: visible;
}

/* Misc. Adjustments */
.form-check-input {
  cursor: pointer;
}

.h-fit-content {
  height: fit-content !important;
}
.w-fit-content {
  width: fit-content !important;
}

/* KY Map */
.ky-map-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.ky-map-type-button {
  background: none padding-box var(--bs-gray-200);
  border-radius: 4px;
  display: table-cell;
  border: 0px;
  margin: 0px;
  padding: 0px 14px;
  text-transform: none;
  appearance: none;
  position: relative;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  text-align: center;
  height: 20px;
  vertical-align: middle;
  color: var(--bs-gray-800);
  font-size: 12px;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.ky-map-search-wrapper {
  position: relative;
}

.ky-map-search-input {
  padding-left: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='%23ffffff70' d='M19 11a8 8 0 1 1-16 0a8 8 0 0 1 16 0' opacity='.16'/%3E%3Cpath stroke='%23ffffff70' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314'/%3E%3C/g%3E%3C/svg%3E");
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.ky-map-search-list {
  user-select: none;
  opacity: 0;
  pointer-events: none;
  transform: translateY(0);
  position: absolute;
  padding: 10px;
  width: 100%;
  background-color: var(--bs-gray-100);
  border-radius: 0.85rem;
  list-style-type: none;
  transition: all 0.1s ease-out;
  z-index: 2;
}

.ky-map-search-list.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(10px);
}

.ky-map-search-list li {
  cursor: pointer;
  margin: 0 0 6px;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: var(--bs-gray-200);
  color: var(--bs-gray-800);
  font-weight: 600;
  transition: all 0.15s ease-out;
}

.ky-map-search-list li:hover {
  background-color: var(--bs-gray-300);
}

.ky-map-search-address-label {
  color: var(--bs-gray-500);
  font-size: 12px;
  font-weight: 600;
}

/* Image Input */
.ky-image-input {
  position: relative;
  height: 100px;
  border: 2px dashed var(--bs-gray-500);
  border-radius: 10px;
  transition: border-color 0.15s ease-out;
}

.ky-image-input.dragging {
  border-color: var(--bs-primary);
}

.ky-image-input input {
  cursor: pointer;
  user-select: none;
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.ky-image-input label {
  cursor: pointer;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 20px;
  border-radius: 5px;
  color: var(--bs-gray-900);
  font-size: 14px;
  font-family: var(--sf-pro-display);
  font-weight: 400;
  letter-spacing: 0.5px;
  background-color: var(--bs-gray-300);
  transition: all 0.15s ease-out;
}
.ky-image-input:hover label {
  background-color: var(--bs-gray-400);
}

/* User Tooltip */
.symbol-tooltip {
  user-select: none;
  pointer-events: none;
  opacity: 0;
  top: -25px;
  position: absolute;
  display: flex;
  align-items: center;
  vertical-align: middle;
  left: 0;
  height: 25px;
  padding: 0 10px;
  border-radius: 6px;
  background-color: var(--bs-gray-200);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  z-index: 9999;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease-out;
}
.symbol.with-tooltip:hover + .symbol-tooltip {
  opacity: 1;
  top: -35px;
}

.three-dots-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
