.ky-hero-section-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  margin-top: -80px;
}

.ky-hero-section-bg {
  user-select: none;
  position: absolute;
  height: calc(100vh - 110px);
  width: calc(100vw - 60px);
  top: 80px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 90px 40px -60px rgba(0, 0, 0, 0.4);
}

.ky-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-left: 0 !important;
  padding-left: 100px !important;
}

.ky-hero-section .ky-bg-pattern {
  top: -290px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeInHeroPattern 0.5s;
}

@keyframes fadeInHeroPattern {
  0% {
    top: -320px;
  }
  100% {
    top: -290px;
  }
}

.ky-hero-section .ky-heading {
  max-width: 700px;
  text-align: left;
  margin-top: 20px;
}

.ky-hero-section .ky-hero-search-input {
  margin-top: 40px;
}

.ky-hero-heading-top {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  background: var(--ky-red-gradient);
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 2px;
}
