.ky-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ky-hero-section .ky-bg-pattern {
  top: -290px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    top: -320px;
  }
  100% {
    top: -290px;
  }
}
.ky-hero-section .ky-heading {
  max-width: 700px;
  text-align: center;
}

.ky-hero-section .ky-hero-search-input {
  margin-top: 40px;
}

.ky-hero-section .ky-hero-caption {
  margin-top: 40px;
}

.ky-hero-section .ky-caption {
  position: relative;
}

.ky-hero-caption-more + svg {
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
  color: var(--ky-midnight);
  transition: all 0.1s ease-out;
}

.ky-hero-caption-more:hover + svg {
  color: var(--ky-light);
  transform: translate(3px, -50%);
}
