.ky-hero-section-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -80px;
  z-index: 9;
}

.hero-bg-swiper {
  user-select: none;
  pointer-events: none;
  position: absolute !important;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  box-shadow: 0px 60px 60px -60px rgba(0, 0, 0, 0.4);
}

.hero-bg-swiper::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 1;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
  background-color: transparent;
  background-image: radial-gradient(at top center, #000000 0%, #000000 100%);
  opacity: 0.8;
}

.ky-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 100px !important;
}

.ky-hero-section .ky-bg-pattern {
  top: -290px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeInHeroPattern 0.5s;
}

@keyframes fadeInHeroPattern {
  0% {
    top: -320px;
  }
  100% {
    top: -290px;
  }
}

.ky-hero-section .ky-heading {
  max-width: 700px;
  text-align: center;
  margin-top: 20px;
}

.ky-hero-section .ky-hero-search-input {
  margin-top: 40px;
}

.ky-hero-heading-top {
  cursor: pointer;
  color: #fff;
  background: var(--ky-red-gradient);
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#hero-mouse-icon-wrapper {
  position: absolute;
  bottom: 50px;
  z-index: 1;
}
