.property-profile-header .swiper {
  width: 100%;
  height: 100%;
}

.property-profile-header .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-profile-header .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-profile-header .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  overflow: hidden;
}

.property-profile-header .swiper-slide {
  background-size: cover;
  background-position: center;
}

.property-profile-header .mainSwiper {
  height: 80%;
  width: 100%;
}

.property-profile-header .thumbnailSwiper {
  height: 20%;
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 10px;
}

.property-profile-header .thumbnailSwiper .swiper-slide {
  aspect-ratio: 1 / 1;
  width: 25%;
  opacity: 0.4;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.property-profile-header .thumbnailSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.property-profile-header .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.property-profile-header .swiper-button-prev,
.property-profile-header .swiper-button-next {
  top: 22px;
  transform: unset;
  height: 100%;
}
.property-profile-header .swiper-button-prev {
  left: 0;
}
.property-profile-header .swiper-button-next {
  right: 0;
}
.property-profile-header .swiper-button-prev::after,
.property-profile-header .swiper-button-next::after {
  font-size: 14px;
}
