.ky-page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
  text-align: center;
  z-index: 0;
}

.ky-page-header .ky-bg-pattern {
  top: -225px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeInPagePattern 0.5s;
}

@keyframes fadeInPagePattern {
  0% {
    top: -320px;
  }
  100% {
    top: -225px;
  }
}

.ky-page-header .ky-subtitle {
  max-width: 620px;
  margin-top: 30px;
  color: var(--ky-midnight);
}
