.ky-hero-search-input {
  position: relative;
  height: 75px;
  width: 855px;
  transition: all 0.2s ease-out;
}

.ky-hero-search-input .ky-icon-search {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

#KYHeroSearchInput {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 150px 0 80px;
  border: none;
  border-radius: 18px;
  color: var(--ky-midnight-3);
  font-size: 20px;
  font-weight: 400;
  background-color: var(--ky-light);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
  outline: none;
  transition: all 0.1s ease-out;
}

.ky-hero-search-input-hovered #KYHeroSearchInput,
.ky-hero-search-input-has-value #KYHeroSearchInput,
#KYHeroSearchInput:focus {
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
}

#KYHeroSearchInput::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#KYHeroSearchInput::placeholder {
  color: var(--ky-midnight);
}

#KYHeroSearchFilter {
  position: absolute;
  top: 50%;
  right: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transform: translateY(-50%);
  transition: all 0.15s ease-out;
}

#KYHeroSearchFilter:not(:focus) {
  outline: none;
}

#KYHeroSearchFilter .ky-icon-gear {
  position: relative;
  transition: all 0.1s ease-out;
}

#KYHeroSearchFilter:hover .ky-icon-gear {
  filter: invert(1);
}

.ky-hero-search-input-has-value #KYHeroSearchFilter {
  transform: translateY(-50%) rotate(45deg);
}

#KYHeroSearchButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 55px;
  padding: 0 30px;
  border: none;
  border-radius: 14px;
  color: var(--ky-light);
  font-size: 20px;
  font-weight: 600;
  background: var(--ky-red-gradient);
  z-index: 1;
  transition: all 0.2s ease-out;
}

#KYHeroSearchButton:not(:focus) {
  outline: none;
}

#KYHeroSearchButton span {
  position: relative;
  transition: all 0.1s ease-out;
  z-index: 1;
}

.ky-hero-search-input-has-value #KYHeroSearchButton span,
#KYHeroSearchButton:hover span {
  color: var(--ky-light);
}

#KYHeroSearchButton::before {
  content: "";
  opacity: 0;
  position: absolute;
  inset: 0;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 14px;
  background: var(--ky-red-gradient);
  transition: all 0.1s ease-out;
  z-index: 0;
}

#KYHeroSearchButton:hover::before,
.ky-hero-search-input-has-value #KYHeroSearchButton::before {
  opacity: 1;
}

/* Search List */
.ky-hero-search-list {
  opacity: 0;
  user-select: none;
  pointer-events: none;
  position: absolute;

  top: 80px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  width: 100%;
  max-height: 400px;
  border-radius: 15px;
  background-color: var(--ky-light);
  box-shadow: 0px 30px 40px -30px rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease-out;
  overflow-y: auto;
  z-index: 90;
}

.ky-hero-search-list.active {
  opacity: 1;
  user-select: all;
  pointer-events: all;
  top: 90px;
}

.ky-hero-search-item a {
  user-select: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.1s ease-out;
  overflow: hidden;
}

.ky-hero-search-item a:hover {
  background-color: #ddd;
}

.ky-hero-search-item-content {
  display: block;
  width: calc(100% - 80px);
}

.ky-hero-search-item-image {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.ky-hero-search-item-title {
  display: block;
  color: #404040;
  font-size: 17px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ky-hero-search-item-desc {
  margin-top: 5px;
  color: var(--ky-midnight);
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ky-hero-search-not-found {
  padding: 20px 0;
  color: var(--ky-midnight);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
