:root {
  --sf-pro-display: "SF Pro Display", "Helvetica", "Arial", sans-serif;
  --sf-pro-text: "SF Pro Text", "Helvetica", "Arial", sans-serif;
  --klavika: "Klavika", sans-serif;
}

* {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SF Pro Display Normal */
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Ultralight.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 200;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Light.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Black.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 900;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Heavy.ttf) format("truetype");
}

/* SF Pro Display Italic */
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 100;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-UltralightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 200;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-ThinItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 300;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 400;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-RegularItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 500;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 600;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-SemiboldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 700;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 800;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-BlackItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 900;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-HeavyItalic.ttf) format("truetype");
}

/* SF Pro Text Normal */
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-Light.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Text"), url(./sf-pro/SFProText-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 900;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-Heavy.ttf) format("truetype");
}

/* SF Pro Text Italic */
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 300;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 400;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-RegularItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 500;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 600;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-SemiboldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 700;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 900;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-HeavyItalic.ttf) format("truetype");
}

/* Klavika Normal */
@font-face {
  font-family: "Klavika Display";
  src: url("./klavika/KlavikaDisplay-Black.eot");
  src: local("Klavika Display Black"), local("./klavika/KlavikaDisplay-Black"),
    url("./klavika/KlavikaDisplay-Black.eot?#iefix") format("embedded-opentype"),
    url("./klavika/KlavikaDisplay-Black.woff2") format("woff2"),
    url("./klavika/KlavikaDisplay-Black.woff") format("woff"),
    url("./klavika/KlavikaDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Klavika Display UltraBlack";
  src: url("./klavika/KlavikaDisplay-UltraBlack.eot");
  src: local("Klavika Display UltraBlack"),
    local("./klavika/KlavikaDisplay-UltraBlack"),
    url("./klavika/KlavikaDisplay-UltraBlack.eot?#iefix")
      format("embedded-opentype"),
    url("./klavika/KlavikaDisplay-UltraBlack.woff2") format("woff2"),
    url("./klavika/KlavikaDisplay-UltraBlack.woff") format("woff"),
    url("./klavika/KlavikaDisplay-UltraBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Klavika Display";
  src: url("./klavika/KlavikaDisplay-Thin.eot");
  src: local("Klavika Display Thin"), local("./klavika/KlavikaDisplay-Thin"),
    url("./klavika/KlavikaDisplay-Thin.eot?#iefix") format("embedded-opentype"),
    url("./klavika/KlavikaDisplay-Thin.woff2") format("woff2"),
    url("./klavika/KlavikaDisplay-Thin.woff") format("woff"),
    url("./klavika/KlavikaDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Klavika Display ExtraLight Cond";
  src: url("./klavika/KlavikaDisplay-ExtraLightCondensed.eot");
  src: local("Klavika Display ExtraLight Condensed"),
    local("./klavika/KlavikaDisplay-ExtraLightCondensed"),
    url("./klavika/KlavikaDisplay-ExtraLightCondensed.eot?#iefix")
      format("embedded-opentype"),
    url("./klavika/KlavikaDisplay-ExtraLightCondensed.woff2") format("woff2"),
    url("./klavika/KlavikaDisplay-ExtraLightCondensed.woff") format("woff"),
    url("./klavika/KlavikaDisplay-ExtraLightCondensed.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Klavika Display UltraBlack Cond";
  src: url("./klavika/KlavikaDisplay-UltraBlackCondensed.eot");
  src: local("Klavika Display UltraBlack Condensed"),
    local("./klavika/KlavikaDisplay-UltraBlackCondensed"),
    url("./klavika/KlavikaDisplay-UltraBlackCondensed.eot?#iefix")
      format("embedded-opentype"),
    url("./klavika/KlavikaDisplay-UltraBlackCondensed.woff2") format("woff2"),
    url("./klavika/KlavikaDisplay-UltraBlackCondensed.woff") format("woff"),
    url("./klavika/KlavikaDisplay-UltraBlackCondensed.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Klavika Display";
  src: url("./klavika/KlavikaDisplay-ExtraLight.eot");
  src: local("Klavika Display ExtraLight"),
    local("./klavika/KlavikaDisplay-ExtraLight"),
    url("./klavika/KlavikaDisplay-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./klavika/KlavikaDisplay-ExtraLight.woff2") format("woff2"),
    url("./klavika/KlavikaDisplay-ExtraLight.woff") format("woff"),
    url("./klavika/KlavikaDisplay-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Klavika Display Thin Condensed";
  src: url("./klavika/KlavikaDisplay-ThinCondensed.eot");
  src: local("Klavika Display Thin Condensed"),
    local("./klavika/KlavikaDisplay-ThinCondensed"),
    url("./klavika/KlavikaDisplay-ThinCondensed.eot?#iefix")
      format("embedded-opentype"),
    url("./klavika/KlavikaDisplay-ThinCondensed.woff2") format("woff2"),
    url("./klavika/KlavikaDisplay-ThinCondensed.woff") format("woff"),
    url("./klavika/KlavikaDisplay-ThinCondensed.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Klavika Display Black Condensed";
  src: url("./klavika/KlavikaDisplay-BlackCondensed.eot");
  src: local("Klavika Display Black Condensed"),
    local("./klavika/KlavikaDisplay-BlackCondensed"),
    url("./klavika/KlavikaDisplay-BlackCondensed.eot?#iefix")
      format("embedded-opentype"),
    url("./klavika/KlavikaDisplay-BlackCondensed.woff2") format("woff2"),
    url("./klavika/KlavikaDisplay-BlackCondensed.woff") format("woff"),
    url("./klavika/KlavikaDisplay-BlackCondensed.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
