:root {
  --sf-pro-display: "SF Pro Display", "Helvetica", "Arial", sans-serif;
  --sf-pro-text: "SF Pro Text", "Helvetica", "Arial", sans-serif;
  --klavika: "Klavika", sans-serif;
}

* {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SF Pro Display Normal */
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Ultralight.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 200;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Light.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Black.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 900;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-Heavy.ttf) format("truetype");
}

/* SF Pro Display Italic */
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 100;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-UltralightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 200;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-ThinItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 300;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 400;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-RegularItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 500;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 600;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-SemiboldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 700;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 800;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-BlackItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 900;
  src: local("SF Pro Display"),
    url(./sf-pro/SFProDisplay-HeavyItalic.ttf) format("truetype");
}

/* SF Pro Text Normal */
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-Light.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Text"), url(./sf-pro/SFProText-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 900;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-Heavy.ttf) format("truetype");
}

/* SF Pro Text Italic */
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 300;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 400;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-RegularItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 500;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 600;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-SemiboldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 700;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 900;
  src: local("SF Pro Text"),
    url(./sf-pro/SFProText-HeavyItalic.ttf) format("truetype");
}

/* Klavika*/

@font-face {
  font-family: "Klavika";
  src: url("./klavika/Klavika-Light.eot");
  src: url("./klavika/Klavika-Light.eot?#iefix") format("embedded-opentype"),
    url("./klavika/Klavika-Light.woff2") format("woff2"),
    url("./klavika/Klavika-Light.woff") format("woff"),
    url("./klavika/Klavika-Light.svg#Klavika-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Klavika";
  src: url("./klavika/Klavika-LightItalic.eot");
  src: url("./klavika/Klavika-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./klavika/Klavika-LightItalic.woff2") format("woff2"),
    url("./klavika/Klavika-LightItalic.woff") format("woff"),
    url("./klavika/Klavika-LightItalic.svg#Klavika-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Klavika";
  src: url("./klavika/KlavikaRegular-OSTF.eot");
  src: url("./klavika/KlavikaRegular-OSTF.eot?#iefix")
      format("embedded-opentype"),
    url("./klavika/KlavikaRegular-OSTF.woff2") format("woff2"),
    url("./klavika/KlavikaRegular-OSTF.woff") format("woff"),
    url("./klavika/KlavikaRegular-OSTF.svg#KlavikaRegular-OSTF") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Klavika";
  src: url("./klavika/Klavika-RegularItalic.eot");
  src: url("./klavika/Klavika-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./klavika/Klavika-RegularItalic.woff2") format("woff2"),
    url("./klavika/Klavika-RegularItalic.woff") format("woff"),
    url("./klavika/Klavika-RegularItalic.svg#Klavika-RegularItalic")
      format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Klavika";
  src: url("./klavika/Klavika-MediumItalic.eot");
  src: url("./klavika/Klavika-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./klavika/Klavika-MediumItalic.woff2") format("woff2"),
    url("./klavika/Klavika-MediumItalic.woff") format("woff"),
    url("./klavika/Klavika-MediumItalic.svg#Klavika-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Klavika";
  src: url("./klavika/Klavika-Medium.eot");
  src: url("./klavika/Klavika-Medium.eot?#iefix") format("embedded-opentype"),
    url("./klavika/Klavika-Medium.woff2") format("woff2"),
    url("./klavika/Klavika-Medium.woff") format("woff"),
    url("./klavika/Klavika-Medium.svg#Klavika-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Klavika";
  src: url("./klavika/Klavika-Bold.eot");
  src: url("./klavika/Klavika-Bold.eot?#iefix") format("embedded-opentype"),
    url("./klavika/Klavika-Bold.woff2") format("woff2"),
    url("./klavika/Klavika-Bold.woff") format("woff"),
    url("./klavika/Klavika-Bold.svg#Klavika-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Klavika";
  src: url("./klavika/Klavika-BoldItalic.eot");
  src: url("./klavika/Klavika-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./klavika/Klavika-BoldItalic.woff2") format("woff2"),
    url("./klavika/Klavika-BoldItalic.woff") format("woff"),
    url("./klavika/Klavika-BoldItalic.svg#Klavika-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
