.ky-franchise-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ky-franchise-introduction .ky-title {
  margin: 100px 0 0;
}

.ky-franchise-introduction .ky-paragraph {
  max-width: 700px;
  margin: 30px auto 0;
}
.ky-franchise-introduction .ky-button {
  margin-top: 30px;
}

.ky-page-franchise .ky-form-group {
  margin-top: 80px;
}
